In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv('books.csv')
df1 = pd.read_csv('book_tags.csv')
df2 = pd.read_csv('ratings.csv')

In [4]:
df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,0
1,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006.0,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0
2,81,7445,7445,2944133,92,074324754X,9.780743e+12,Jeannette Walls,2005.0,The Glass Castle,...,637866,40777,7901,18922,85191,227750,298102,https://images.gr-assets.com/books/1400930557m...,https://images.gr-assets.com/books/1400930557s...,0
3,82,1845,1845,3284484,108,385486804,9.780385e+12,Jon Krakauer,1996.0,Into the Wild,...,665377,17299,19229,35567,135199,248287,227095,https://images.gr-assets.com/books/1403173986m...,https://images.gr-assets.com/books/1403173986s...,0
4,87,1617,1617,265616,109,374500010,9.780375e+12,"Elie Wiesel, Marion Wiesel",1958.0,Un di Velt Hot Geshvign,...,707879,22001,7761,18539,90575,230227,360777,https://images.gr-assets.com/books/1473495285m...,https://images.gr-assets.com/books/1473495285s...,0

In [43]:
column_names = df.columns.tolist()
column_names

['book_id',
 'goodreads_book_id',
 'best_book_id',
 'work_id',
 'books_count',
 'isbn',
 'isbn13',
 'authors',
 'original_publication_year',
 'original_title',
 'title',
 'language_code',
 'average_rating',
 'ratings_count',
 'work_ratings_count',
 'work_text_reviews_count',
 'ratings_1',
 'ratings_2',
 'ratings_3',
 'ratings_4',
 'ratings_5',
 'image_url',
 'small_image_url',
 'NonEnglish']

In [14]:
df1.head()

   goodreads_book_id  tag_id  count
0                386   30574    565
1                386   19733    280
2                386   21689    182
3                386   21773     99
4                386   19742     78

In [28]:
df2.head()

   user_id  book_id  rating
0        8     2584       5
1        4       87       5
2        4      495       4
3        9      344       4
4        9      372       4

In [9]:
df['original_title'].isnull().sum()

36

In [12]:
data = df.dropna(subset=['original_title'])

In [17]:
data1 = df1[df1['goodreads_book_id'].isin(data['book_id'])]
data2 = df2[df2['book_id'].isin(data['book_id'])]

In [18]:
unique_books = data['book_id'].nunique()
unique_books

363

In [21]:
data2['user_id'].nunique()

40573

In [26]:
data1['tag_id'].nunique()

100

In [40]:
vc = data1['tag_id'].value_counts()

In [41]:
max_vc = vc.max()
most_frequent_tags = vc[vc == max_vc]
most_frequent_tags

30574    1
7805     1
18367    1
10644    1
29452    1
        ..
11590    1
22743    1
5207     1
19961    1
22011    1
Name: tag_id, Length: 100, dtype: int64

In [42]:
tag_id_lv = most_frequent_tags.idxmin()
tag_id_lv

30574